$myFont:'Roboto', sans-serif;
$color-u: pink;
$color-d: black;



body{
// ******* espacio para reglas generales
 font-family: $myFont;
 color: $color-u;

 .cont_nav{
     
     height: 3.5em;
     background-color: aqua;
     span{
         padding: 0.313em;
   
     }
        
    }
    section{
         background-color: red;
         .p_card{
             height: 300px;
             background-color: beige;
             padding: 10px;
         }
        
    }
    
}

// ***** llega hasta aca ********
